a {
    text-decoration: none;
    font-weight: 500;
}
button, a.btn {
    text-decoration: none;
    font-size: 1rem;
    padding: .6rem 1.4rem;
    border: none;
    border-radius: 8px;
    letter-spacing: .5px;
    background-color: $gray-100;
    color: $gray-900;
    transition: .1s;
    margin: 0;
    font-family: $sans-serif;
}
button:hover {
    cursor: pointer;
    background-color: $gray-200;
    transition: .1s;
}