
$radius-sm: 12px;
$radius-xl: 19px;

$gray-900: #1A202C;
$gray-800: #2D3748;
$gray-700: #4A5568;
$gray-600: #718096;
$gray-500: #A0AEC0;
$gray-400: #CBD5E0;
$gray-300: #E2E8F0;
$gray-200: #EDF2F7;
$gray-100: #F7FAFC;

$main: #2E64F9;

$main-100: #eaf0fe;
$main-200: #d5e0fe;
$main-300: #c0d1fd;
$main-400: #97b2fc;
$main-500: #6d93fb;
$main-600: #4374fa;
$main-700: #2550c7;
$main-800: #1c3c95;
$main-900: #122864;
$main-1000: #091432;

$main-gradient: linear-gradient(120deg, #2E64F9 7.21%, #0033BE 100%);
