$sans-serif: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$serif: Georgia, Cambria, "Times New Roman", Times, serif;

$monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

h1, h2, h3, h4 {
    font-family: $serif;
    font-weight: bold;
    color: $gray-900;
}

p, a, span, small, h5, h6 {
    font-family: $sans-serif;
    color: $gray-900;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-family: 3rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.6rem;
}